<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu")%>

<div class="container mt-5">
  <form action="/login" method="post" enctype="multipart/form-data">
    <div class="text-center">
        <img src="/Logo.png" alt="Imagen" style="max-width: 200px; height: auto;">
      </div>
    <div class="card">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus>
            <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="card-footer">
            <button class="form-control btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form>
</div>
<div class="color-bar" style="background-image: linear-gradient(#FFFF01, #037F03); height: 90px; margin-top: 400px;">
    <p class="text-center" style="font-size: 12px; padding-top: 30px; padding-right: 30px;"><a href="/politicasDePrivacidad" style="color: #ffffff;">Políticas de Privacidad</a></p>
  </div>

  

<%- include ("../templates/pie") %>
