<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu")%>

<div class="container mt-5">
  <form action="/login" method="post" enctype="multipart/form-data">
    <div class="text-center">
        <img src="/Logo.png" alt="Imagen" style="max-width: 200px; height: auto;">
        <h1 class="text-center small-title" style="font-size: 20px; margin-top: 20px; font-family: 'Playfair Display', serif; color: rgb(0, 0, 0);  font-weight: bold;">RECYCL-IA</h1>
      </div>
    <div class="card" style="margin-top: 60px;">
        <div class="card-header">
            <h1 style="font-family: 'Playfair Display', serif;" >Iniciar Sesión</h1>
        </div>
        <div class="card-body">
            <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus>
            <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="card-footer">
            <button class="form-control btn btn-primary" type="submit">Acceder</button>
        </div>
    </div>
    <div class="container mt-3">
        <img src="/InicioDeSesionAPP.jpg" alt="Imagen" style="max-width: 300px; height: auto; display: flex; margin-left: 13px; padding-top: 20px;">
      </div>
      <div class="text-center mt-3">
        <p class="small-text" style="font-size: 20px; text-align: justify; color: rgb(255, 255, 255); padding-top: 10px; margin: 26px;">Reconocemos el valor de tus acciones, y queremos recompensarte por ser parte del cambio hacia un futuro más sostenible. Gracias por unirte a nosotros en esta iniciativa y con tu compromiso con el reciclaje no solo transforma el mundo que te rodea, sino que también se traduce en experiencias y beneficios que enriquecen tu vida diaria. ¡Recolecta, gana y haz la diferencia hoy mismo! 🌱🌟</p>
      </div>
</form>
</div>
<div class="color-bar" style="background-image: linear-gradient(#FFFF01, #037F03); height: 90px; margin-top: 50px;">
    <p class="text-center" style="font-size: 15px; padding-top: 35px; padding-right: 5px;"><a href="/politicasDePrivacidad" style="color: #ffffff;">Políticas de Privacidad</a></p>
  </div>

  <style>
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
    .text-center img {
      max-width: 200px;
      height: auto;
      animation: rotate 5s linear infinite; 
    }

    
    
  
    body {
    background-color: #4CAF50;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.card {
    background-image: linear-gradient(#D5F6D8,#037F03);
    border: 1px solid #D5F6D8;
    border-radius: 30px;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
}

.card-header {
    background-color: #D5F6D8;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

.card-header h1 {
    font-size: 24px;
}

.card-body {
    padding: 20px 0;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.btn-primary {
    background-color: #FFFF01;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #45a049;
}

a {
    color: #FFFF01;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

</style>

<%- include ("../templates/pie") %>
