<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu")%>

<section class="barra">
    <div class="circulo"><h1>10/100</h1></div>
</section>

<section class="puntos">
    <!--<button>Scanear puntos</button> -->
    <h1>Escaneo de Código QR</h1>
    <button onclick="startScanner()">Iniciar Escáner</button>
    <video id="camera" autoplay playsinline></video>

    <script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js"></script>
    <script>
        async function startScanner() {
            try {
                const videoElement = document.getElementById('camera');
                const stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } });
                videoElement.srcObject = stream;

                Quagga.init({
                    inputStream: {
                        name: "Live",
                        type: "LiveStream",
                        target: videoElement
                    },
                    decoder: {
                        readers: ["code_128_reader", "ean_reader", "ean_8_reader", "code_39_reader", "code_39_vin_reader", "codabar_reader", "upc_reader", "upc_e_reader", "i2of5_reader", "2of5_reader", "code_93_reader"]
                    }
                }, function (err) {
                    if (err) {
                        console.error(err);
                        return;
                    }
                    Quagga.start();
                });

                Quagga.onDetected(function (result) {
                    alert('Código escaneado: ' + result.codeResult.code);
                    stopScanner(); // Detener el escáner después de un éxito
                });

            } catch (error) {
                console.error('Error al acceder a la cámara:', error);
            }
        }

        function stopScanner() {
            const videoElement = document.getElementById('camera');
            const stream = videoElement.srcObject;
            const tracks = stream.getTracks();

            tracks.forEach(track => track.stop());
            videoElement.srcObject = null;
            Quagga.stop();
        }
    </script>
</section>

<div class="color-bar" style="background-image: linear-gradient(#FFFF01, #037F03); height: 90px; margin-top: 400px;">
    <p class="text-center" style="font-size: 12px; padding-top: 30px; padding-right: 30px;"><a href="/politicasDePrivacidad" style="color: #ffffff;">Políticas de Privacidad</a></p>
  </div>
  

<%- include ("../templates/pie") %>
