<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu")%>

<section class="barra">
    <div class="circulo"><h1>10/100</h1></div>
</section>

<section class="puntos">
    <!--<button>Scanear puntos</button> -->
    <button onclick="startScanner()">Iniciar Escáner</button>
    <br>
    <div class="video">
        <video id="camera" autoplay playsinline></video>
    </div>

    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script>
        async function startScanner() {
            try {
                const videoElement = document.getElementById('camera');
                const scanner = new Instascan.Scanner({ video: videoElement });
                
                scanner.addListener('scan', function (content) {
                    alert('Código escaneado: ' + content);
                    window.location.href = content;
                    stopScanner(); // Detener el escáner después de un éxito
                });

                Instascan.Camera.getCameras()
                    .then(cameras => {
                        if (cameras.length > 0) {
                            const selectedCamera = cameras[cameras.length - 1]; // Usar la cámara trasera si está disponible
                            scanner.start(selectedCamera);
                        } else {
                            console.error('No se encontraron cámaras disponibles.');
                        }
                    })
                    .catch(error => console.error('Error al obtener cámaras:', error));
            } catch (error) {
                console.error('Error al acceder a la cámara:', error);
            }
        }

        function stopScanner() {
            const videoElement = document.getElementById('camera');
            const scanner = new Instascan.Scanner({ video: videoElement });
            scanner.stop();
        }
    </script>
</section>

<div class="color-bar" style="background-image: linear-gradient(#FFFF01, #037F03); height: 90px; margin-top: 400px;">
    <p class="text-center" style="font-size: 12px; padding-top: 30px; padding-right: 30px;"><a href="/politicasDePrivacidad" style="color: #ffffff;">Políticas de Privacidad</a></p>
  </div>
  

<%- include ("../templates/pie") %>
