<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu")%>

<div class="container mt-4">
  <h1 style="font-style: italic;">Políticas y Privacidad</h1>
  <p style="font-style: italic; font-size: 20px;">A continuación, te presentamos nuestras políticas de privacidad:</p>
  <ul>
      <li style="font-size: 15px; color: black; font-style: italic; padding-top: 10px;">Respetamos tu privacidad y protegemos tus datos personales.</li>
      <li style="font-size: 15px; color: black; font-style: italic; padding-top: 10px;">Tus datos se utilizan únicamente con fines relacionados con tus recompensas al reciclar.</li>
      <li style="font-size: 15px; color: black; font-style: italic; padding-top: 10px;">No compartiremos tu información con terceros sin tu consentimiento.</li>
  </ul>
  <div class="container mt-5">
    <img src="/politicasyPrivacidad.png" alt="Imagen" style="max-width: 325px; height: auto; display: flex; margin-left: 0px; padding-top: 20px;">
  </div>
<div class="color-bar" style="background-image: linear-gradient(#212529, #212529); height: 100px; margin-top: 80px;">
    <p class="text-center" style="font-size: 15px; padding-top: 35px; padding-right: 5px;"><a style="color: #ffffff;">&copy; 2023 Recycl-IA</a></p>
  </div>

<%- include ("../templates/pie") %>