<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu")%>

<div class="container mt-5">
  <form action="/register" method="post" enctype="multipart/form-data">
    <div class="text-center">
        <img src="/Logo.png" alt="Imagen" style="max-width: 200px; height: auto;">
      </div>
      <div class="card">
          <div class="card-header">
              <h1>Registro</h1>
          </div> 
          <div class="card-body">
              <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus>
              <input class="form-control mb-3" type="text" name="telefono" id="telefono" placeholder="Telefono">
              <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Password">
          </div>
          <div class="card-footer">
              <button class="form-control btn btn-primary" type="submit">Registrarse</button>
          </div>
      </div>
      <div class="text-center mt-3">
        <p style="color: #ffffff;">Ya tienes una cuenta? <a href="/login" style="color: #FFFF01; text-decoration: none;">Iniciar Sesion</a></p>
    </div>
  </form>
</div>
<div class="color-bar" style="background-image: linear-gradient(#FFFF01, #037F03); height: 90px; margin-top: 400px;">
    <p class="text-center" style="font-size: 12px; padding-top: 30px; padding-right: 30px;"><a href="/politicasDePrivacidad" style="color: #ffffff;">Políticas de Privacidad</a></p>
  </div>

  <style>
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
    .text-center img {
      max-width: 200px;
      height: auto;
      animation: rotate 5s linear infinite; 
    }

    
    
  
    body {
    background-color: #4CAF50;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.card {
    background-image: linear-gradient(#D5F6D8,#037F03);
    border: 1px solid #D5F6D8;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
}

.card-header {
    background-color: #D5F6D8;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

.card-header h1 {
    font-size: 24px;
}

.card-body {
    padding: 20px 0;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.btn-primary {
    background-color: #FFFF01;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}

a {
    color: #FFFF01;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

  
  
  </style>
<%- include ("../templates/pie") %>
