.barra{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.puntos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacio{
    margin-top: 50px;
}

.button{
    margin-top: 100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.camera{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
}
